:host {
  width: 171px;
}

.calendar-list-item {
  border:1px solid #cccccc;
  height: 160px;
  padding:5px;
  overflow: hidden;
}

.calendar-list-item__active {
  background-color: #C1E4FF;
}

.current-day {
  background-color: #006FCA;
  box-shadow: 0 0 15px rgba(49, 131, 255, 0.7);
  color:white;
}

.calendar-list-item:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.calendar-list-item__active:hover {
  background-color: rgb(145, 207, 255);
}

.calendar-list-item-events {
  margin: 15px 0;
  word-break: break-all;
}

.current-day:hover {
  background-color: #006FCA;
  box-shadow: 0 0 15px rgba(49, 131, 255, 0.7);
  color:white;
}
