.back-mask {
  background: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.calendar-add-event {
  background: #ffffff;
  padding: 20px;
  width:250px;
  margin-top: 80px;
  position: absolute;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
}

.right-border-arrow {
  position:absolute;
  right: -20px;
  border: 10px solid transparent;
  border-left:10px solid #ffffff;
}

.left-border-arrow {
  position:absolute;
  left: -20px;
  border: 10px solid transparent;
  border-right:10px solid #ffffff;
}

.cross {
  position:absolute;
  right: 8px;
  top: 5px;
  color:#000000;
}

.cross:hover {
  color:#666666;
  cursor: pointer;
}

.calendar-add-event-input {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
  font-size: 14px;
  height:26px;
  padding: 1px 2px;
}

.calendar-add-event-date {
  margin-bottom: 15px;
}

.calendar-add-event-textarea {
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  height: 100px;
  margin: 30px 0 20px;
}

.calendar-add-event-button {
  background-color: #006FCA;
  color:white;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin-right: 10px;
}

.calendar-add-event-button:hover {
  cursor: pointer;
  background: rgb(0, 86, 156);
}

.calendar-add-event-button:disabled {
  background-color: #666666;
}

.calendar-add-event-button:disabled:hover {
  background-color: #666666;
  cursor: default;
}
